.page-info {
  padding: 20px;
  background-color: #fff;
  .footer {
    margin-top: 70px;
    text-align: right;
  }
}
.grid-wrapper {
  .grid-operation {
    padding-bottom: 20px;
    text-align: right;
  }
}