// 表格变量
//$--color-primary: #BA2222;
$table-border-color: #404040;
$table-width: 780px;
$table-font-family: 宋体;
$table-font-size-m: 20px;
$table-font-size-s: 19px;
$table-font-size-ss: 18px;
$table-font-color: #333333;